.banner-principal-decorativo
  &-1
    animation: float1 3.5s ease-in-out infinite alternate
    position: absolute
    top: 65%
    right: 85%
  &-2
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 10%
    right: 18%

@media (max-width: 1024px) 
  .banner-principal .tarjeta
      background-image: url(../assets/curso/portada/fondo-banner.png) !important
@media (max-width: 430px) 
  .banner-principal .tarjeta
      background-image: url(../assets/curso/portada/fondo-banner-responsive.png) !important

    

.banner-interno__fondo
  background-image: url(../assets/curso/portada/banner-interno.png) !important

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.crd--avatarHorizontal-left-bgr
  position: relative
  align-items: stretch

  &::before
    position: absolute
    content: ''
    top: 0
    right: 0
    width: calc(100% - 60px)
    height: 100%
    background-color: #CCF9E6
    border-radius: 10px

.color-cajon
  background-color: #67ccf4 !important

.grad1
  background-image: url(../assets/curso/temas/tema1/img8.png) !important
  border-radius: 40px 0 40px 0 !important
  background-size: cover
  background-repeat: no repeat

.grad1-2
  background-image: url(../assets/curso/temas/tema1/img8.png) !important
  background-repeat: no-repeat
  background-size: cover !important
  background-position: center
  width: 80%
  height: 100%
  position: relative
  top: 80px

@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)

.crd--avatarHorizontal-left-bgr1,
.crd--avatarHorizontal-left-bgr2,
.crd--avatarHorizontal-left-bgr3,
.crd--avatarHorizontal-left-bgr4,
.crd--avatarHorizontal-left-bgr5,
.crd--avatarHorizontal-left-bgr6, 
.crd--avatarHorizontal-left-borde-tarjeta
  position: relative
  align-items: stretch

  &::before
    position: absolute
    content: ''
    top: 0
    right: 0
    width: calc(100% - 60px)
    height: 100%
    background-color: #F6F6F6
    border-radius: 10px

.crd--avatarHorizontal-left-bgr1::before
  background-color: #99F2CE

.crd--avatarHorizontal-left-bgr2::before
  background-color: #CCE9E5

.crd--avatarHorizontal-left-bgr3::before
  background-color: #CCF9E6 

.crd--avatarHorizontal-left-bgr4::before
  background-color: #D9F3FF

.crd--avatarHorizontal-left-bgr5::before
  background-color: #FFE9DB

.crd--avatarHorizontal-left-bgr6::before
  background-color: #99F2CE

.crd--avatarHorizontal-left-borde-tarjeta::before
  background-color: #CCF9E6
  background-color: #CCF9E6
  border-radius: 10px
  box-shadow: 4px 4px 6px -2px rgba(128, 128, 128, 16%)

.tarjeta-sombra
  background-color: #CCF9E6
  background-color: #CCF9E6
  border-radius: 10px
  box-shadow: 4px 4px 6px -2px rgba(128, 128, 128, 16%)


.crd--avatarHorizontal-right-bgr1
  position: relative
  align-items: stretch

  &::before
    position: absolute
    content: ''
    top: 0
    width: calc(100% - 60px)
    height: 100%
    background-color: #F6F6F6
    border-radius: 10px

.number
  text-align: right
  position: absolute
  top: 0px
  right: 10px
  color: #707070
  font-weight: bolder
  font-size: 1.5em
  padding: 3px


//Card 
.icon-left, .icon-right
  display: flex
  justify-content: center
  align-items: center
  width: 100px
  height: 100px
  position: absolute
  top: 50%
  transform: translateY(-50%)

.icon-left
  left: -50px

.icon-right
  right: -50px

.card-cuerpo
  padding-left: 60px

.color-tarjeta
  background: #fbede4

.tabs-b__tab--active
  background: #FFF4EC

.bgr2
  background: #FFF4EC

.tabs-b__tab-inactive
  background: #FFA686

.bloque-texto-b:before 
  background: #CCE9E5

.tarjeta--beige
  background: #FFE9DB

.color-cajon
  background: #43C0FF

.cajon.color-terciario:before
  background: #43C0FF

.crd--avatarHorizontal-left-bgr6::before
  background: #99F2CE

.linea-tiempo-d__item .col.mb-4
  max-width: 94.8%

.contenedor 
  position: relative
  height: 100%
  width: 100% 

.caja-1
  height: 70px
  width: 150px
  background: #FF0000
  position: absolute
  top: 0
  right: 0

.caja-2
  height: 70px
  width: 150px
  background: #FF9500
  position: absolute
  top: 0
  right: 0
.caja-3
  height: 70px
  width: 150px
  background: #FAFF94
  position: absolute
  top: 0
  right: 0
.caja-4
  height: 70px
  width: 150px
  background: #FFFFFF
  position: absolute
  top: 0
  right: 0

.contenedor-s 
  height: 20vh 
  text-align: center
.caja-1s 
  height: 70px
  width: 150px
  background: #FF0000
  margin: 0 auto
.caja-2s 
  height: 70px
  width: 150px
  background: #FF9500
  margin: 0 auto
.caja-3s 
  height: 70px
  width: 150px
  background: #FAFF94
  margin: 0 auto
.caja-4s 
  height: 70px
  width: 150px
  background: #ffffff
  margin: 0 auto


.grafica-1
  height: 90px
  background: #FFA686
  border-radius: 10px
  align-content: center
  text-align: center



.grafica-2
  height: 90px
  background: #FFECA2
  border-radius: 10px
  align-content: center
  text-align: center
  padding: 15px
.grafica-2s
  height: auto
  background: #FFECA2
  border-radius: 10px
  align-content: center
  text-align: center
  padding: 15px

.col
  word-wrap: break-word
  overflow-wrap: break-word
  hyphens: auto 


.p-4 
  padding: 1rem
  width: 100%
  box-sizing: border-box



@media (max-width: 576px) 
  .row.my-3.align-items-center 
    flex-direction: column
    text-align: center


  .col-lg-5.px-3, .col-lg-10.px-3 
    padding: 0.5rem
    margin: 0.5rem 0
    width: 100%
  

  .p-4 
    padding: 1rem
    width: 100%
  

  span, p.m-0 
    font-size: 0.9rem

.banner-principal__img img 
    max-width: 500px !important
    width: 70%
    display: inline
    position: relative
    bottom: -6px
    left: 80px


.banner-principal__img img
  max-width: 415px !important


.fondo-degradado
  background-image: url(../assets/curso/temas/tema1/img10.png) !important
  background-repeat: no-repeat
  background-size: 100% 100%
  width: 100%
  height: auto
  min-height: 100%

.fondo-degradado-2
  background-image: url(../assets/curso/temas/tema2/img89.png) !important
  background-repeat: no-repeat
  background-size: 100% 100%
  width: 100%
  height: auto
  min-height: 100%

.fondo-degradado-3
  background-image: url(../assets/curso/temas/tema3/img77.png) !important
  background-repeat: no-repeat
  background-size: 100% 100%
  width: 100%
  height: auto
  min-height: 100%
  padding: 3em

.fondo-degradado-4
  background-image: url(../assets/curso/temas/tema3/img78.png) !important
  background-repeat: no-repeat
  background-size: 100% 100%
  width: 100%
  height: auto
  min-height: 100%
  padding: 3em


.banner-principal__img img 
    max-width: 500px !important
    display: inline
    position: relative
    bottom: -6px

.d-none.d-lg-block.col-lg-5.px-0.banner-principal__img
  padding: 0px !important

.linea-tiempo-d__item__content__title
  background: #E4F3F1

.linea-tiempo-d__item__content__slot
  background: #E4F3F1

.tarjeta-abc
  background: #CCF9E6
  border-radius: 10px
  padding: 15px
  margin: auto auto

.tabs-b__tab
  background-color: #FFD5B8 !important

.tabs-b__tab--active
  background-color: #FFF4EC !important

.tarjeta--gris
  background: #E4F3F1

.tabs-a__tab:last-child 
  background: #E4FBF2

.tabs-a__tab__text 
  color: #000000